<md-toolbar color='primary'>What does your birthday say about your age?</md-toolbar>
<div id='app-container'>
  <md-card id='app-content'>
    <md-tab-group [dynamicHeight]='true' [selectedIndex]='pageNumber | async'>
      <md-tab>
        <h2>Have you ever wondered what the day of your birth reveals about the true nature of your age?</h2>
        <p>Take this quiz to find out!</p>
      </md-tab>
      <md-tab *ngFor='let question of questions'>
        <question [question]='question | async' (answer)='onAnswer($event)'></question>
      </md-tab>
      <md-tab>
        <h3>Analyzing&hellip;</h3>
        <md-progress-bar mode='indeterminate'></md-progress-bar>
      </md-tab>
      <md-tab>
        <age [age]='result | async'></age>
        <div class='share-button-container'>
          <button class='share-button sb-facebook' md-raised-button shareButton='facebook' aria-label='Share on Facebook'>
            <i class='fa fa-facebook' aria-hidden='true'></i>
          </button>
          <button class='share-button sb-twitter' md-raised-button shareButton='twitter' aria-label='Tweet on Twitter' [sbTitle]='shareText | async'>
            <i class='fa fa-twitter' aria-hidden='true'></i>
          </button>
        </div>
      </md-tab>
    </md-tab-group>
    <p [class.hidden]='!(wrongAnswer | async)' class='wrong'>Wrong answer!</p>
    <button #buttonNext id='btn-next' md-fab aria-label='Next' [class.hidden]='!(nextButtonVisible | async)' (click)='onClickNext($event)' disabled='{{!(nextButtonEnabled | async)}}'>
      <md-icon>{{nextButtonIcon | async}}</md-icon>
    </button>
  </md-card>
</div>
